<mat-list class="lists_content" color="accent">
  <mat-list-item>
      <div mat-list-icon class="example-header-image"></div>
    <h4 mat-line>Video Clip Title</h4>
    <p mat-line>00:00 / 00:20 </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <div mat-list-icon class="example-header-image"></div>
    <h4 mat-line>Video Clip Title</h4>
    <p mat-line>00:00 / 00:20 </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
      <div mat-list-icon class="example-header-image"></div>
    <h4 mat-line>Video Clip Title</h4>
    <p mat-line>00:00 / 00:20 </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>